@* Listing 33.8 Using a Razor Component in the Index.cshtml file in the Views/Home folder *@

@model PeopleListViewModel

<h4 class="bg-primary text-white text-center p-2">People</h4>

<component type="typeof(Advanced.Blazor.PeopleList)" render-mode="Server" />
