@* Listing 22.15 The _ImportantLayout.cshtml file in the Views/Shared folder *@

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/boostrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h3 class="bg-warning text-white text-center p-2 m-2">Important</h3>
    @RenderBody()
</body>
</html>
