@* Listing 26.22 Using environment in the _SimpleLayout.cshtml file in the Views/Shared folder *@

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="m-2">
        <environment names="development">
            <h2 class="bg-info text-white m-2 p-2">
                This is Development
            </h2>
        </environment>
        <environment names="production">
            <h2 class="bg-danger text-white m-2 p-2">
                This is Production
            </h2>
        </environment>
        @RenderBody()
    </div>
</body>
</html>
