@* Listing 36.2 The contents of the FormSpy.razor file in the Blazor/Forms folder *@

<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col">
            @ChildContent
        </div>
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">
                            Data Summary
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID</th><td>@Person?.PersonId</td>
                    </tr>
                    <tr>
                        <th>Firstname</th><td>@Person?.Firstname</td>
                    </tr>
                    <tr>
                        <th>Surname</th><td>@Person?.Surname</td>
                    </tr>
                    <tr>
                        <th>Dept ID</th>
                        <td>@Person?.DepartmentId</td>
                    </tr>
                    <tr>
                        <th>Location ID</th>
                        <td>@Person?.LocationId</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Person Person { get; set; } = new();
}
