@* Listing 33.25 Applying a new component the Blazor.cshtml file in the Pages folder *@

@page "/pages/blazor"

<h4 class="bg-primary text-white text-center p-2">Class Only</h4>

<component type="typeof(Advanced.Blazor.CodeOnly)" render-mode="Server" />