@* Listing 25.3 The contents of the _SimpleLayout.cshtml file in the Views/Shared folder *@

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
